@import "src/styles/example.scss";

$bg-color: black;

body {
    margin: 0;
    padding: 0;
}

#game-canvas {
    background-color: $bg-color;
}


#main {
    color: $color;  // can use imported colors (if imported above I think)
    font-weight: 600;
    font-weight: bolder;
    font-size: 40px;

    display: none;
}